*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

th{
  @apply px-6 py-3 text-center text-2xl font-bold text-blue-900 uppercase tracking-wider bg-blue-200
}

td{
  @apply px-6 py-4 text-center text-gray-500 text-xl 
}



td {
  @apply px-6 py-4 text-center text-white text-xl bg-blue-900 font-bold cursor-pointer ;
}